services:
  - type: web
    name: qrchat-backend
    env: node
    plan: free
    rootDir: .
    buildCommand: cd server && npm install && cd ../client && npm install && npm run build
    startCommand: cd server && npm start
    envVars:
      - key: PORT
        value: 5001
      - key: NODE_VERSION
        value: 20.11.0
      - key: DATABASE_URL
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        value: chate
      - key: DB_DIALECT
        value: mysql
